<ui-view></ui-view>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Sobre</h4>
              <p class="text-muted">Nossa missão é facilitar o controle de sua frota de veículos de forma fácil intuitiva.</p>
              <p class="text-muted">Seja bem vindo!</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contato</h4>
              <ul class="list-unstyled">
                <li><span href="#" class="text-white">Telefone: (48) 3431-0733</span></li>
                <li><span href="#" class="text-white">Telefone: (48) 3478-5658</span></li>
                <li><span href="#" class="text-white">Celular: (48) 9 9936-8282</span></li>
                <li><span href="#" class="text-white">Email: felipe.batista@betha.com.br</span></li>
                <li><span href="#" class="text-white">Email: felipefmb@gmail.com</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>GaragemApp</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Aplicativo para controle e gerenciamento de reservas de automóveis</h1>
          <p class="lead text-muted">Veja abaixo o que você pode fazer em nosso aplicativo.</p>
          <p>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">                  
                <div class="card-body">                    
                  <h3>Marcas padronizadas</h3>
                  <p class="card-text">Com o cadastro de marcas de veículos, você mantém as marcas vinculadas aos modelos de automóveis, evitando duplicidade de registros e cadastros incorretos.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                <h3>Controle de frota simplificado</h3>
                  <p class="card-text">No registro de automóveis os veículos da frota são registrados com poucas informações obrigatórias para que não interrompa um atendimento por falta de informações.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                 <h3>Gerenciamento de reserva</h3>
                  <p class="card-text">Ainda no registro de automóveis, controle as reservas dos automóveis. Tudo o que você deseja encontrar em um só lugar pensando em facilitar a sua vida.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>